<header class="site-header">
  <div class="site-header__inner">
    <a href="{{BASE}}index.html" class="logo">
      <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M16 3C10 8 6 13 6 18a10 10 0 0020 0c0-5-4-10-10-15z" fill="#1fa2a8"/>
        <path d="M16 8c-3.5 3.5-6 7-6 10a6 6 0 0012 0c0-3-2.5-6.5-6-10z" fill="#e2b45e"/>
      </svg>
      <span>マーメイドフェスタ</span>
    </a>
    <button class="nav-toggle" aria-label="メニューを開く" aria-expanded="false" data-nav-toggle>&#9776;</button>
    <nav class="main-nav" data-main-nav aria-label="サイト内ナビゲーション">
      <ul>
        <li><a href="{{BASE}}index.html" data-nav="home">最新イベント</a></li>
        <li><a href="{{BASE}}stage.html" data-nav="stage">ステージ</a></li>
        <li><a href="{{BASE}}contest.html" data-nav="contest">仮装コンテスト</a></li>
        <li><a href="{{BASE}}vendors.html" data-nav="vendors">出店者一覧</a></li>
        <li><a href="{{BASE}}stamprally.html" data-nav="stamprally">スタンプラリー</a></li>
        <li><a href="{{BASE}}archive.html" data-nav="archive">過去イベント</a></li>
        <li><a href="{{BASE}}history.html" data-nav="history">歴史・年表</a></li>
        <li><a href="{{BASE}}sponsors.html" data-nav="sponsors">協賛企業</a></li>
        <li><a href="{{BASE}}committee.html" data-nav="committee">実行委員会</a></li>
        <li><a href="{{BASE}}exhibitors-guide.html" data-nav="exhibitors-guide">出店希望の方へ</a></li>
      </ul>
    </nav>
  </div>
</header>
